:root {
  --primary-accent-color: #4d5ae5;
  --active-elements-color: #404bbf;
  --secondary-accent-color: #31d0aa;
  --primary-text-color: #434455;
  --headings-color: #2e2f42;
  --main-white: #ffffff;
  --light-background: #f4f4fd;
  --primary-text-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-white);
  font-family: var(--primary-text-font);
}

/* .section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
} */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* ==========================GENERAL-MOBILE========================== */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
/* ==========================LOGO-HEADER========================== */

.logo-header {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  margin-right: 77px;
}

.web-head {
  color: var(--primary-accent-color);
}

.studio-head {
  color: var(--headings-color);
}

/* ==========================HEADER-NAVIGATION-MOBILE========================== */

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .site-auth {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-btn-open {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 40px;
    width: 100%;
    height: 100%;
    max-height: 796px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--main-white);
    overflow-y: scroll;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func),
      visibility var(--transition-dur-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .contacts-menu-container {
    margin-top: auto;
  }

  .menu-container.is-open {
    transform: translateX(0);
  }

  .mobile-menu-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: box-shadow var(--transition-dur-and-func),
      border var(--transition-dur-and-func),
      background-color var(--transition-dur-and-func),
      fill var(--transition-dur-and-func);
  }

  .mobile-menu-btn-close:hover {
    background-color: var(--active-elements-color);
    fill: var(--main-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border: transparent;
  }

  .nav-link {
    margin-top: 40px;
    display: block;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--headings-color);
    transition: color var(--transition-dur-and-func);
  }

  .nav-link:hover {
    color: var(--active-elements-color);
  }

  .menu-tel-link {
    display: block;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .menu-tel-link:hover {
    color: var(--primary-accent-color);
  }

  .menu-mail-link {
    display: block;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color var(--transition-dur-and-func);
  }

  .menu-mail-link:hover {
    color: var(--primary-accent-color);
  }

  .mobile-menu-socials {
    display: flex;
    gap: 56px;
  }

  .mobile-menu-socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-accent-color);
  }

  .mobile-menu-socials-link:hover,
  .mobile-menu-socials-link:focus {
    background-color: var(--active-elements-color);
  }
}
/* ==========================HEADER-NAVIGATION-TABLET========================== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-btn-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
/* ==========================HEADER-NAVIGATION-DESKTOP========================== */

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
/* ==========================HEADER-NAVIGATION-DESKTOP========================== */

/* .page-header .link {
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}

.site-nav .current-page {
  color: var(--primary-accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--primary-accent-color);
}

.nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--transition-dur-and-func);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
}

.current-page::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  transform: scaleX(1);
  transition: transform var(--transition-dur-and-func);
}

.site-nav .link:active {
  color: var(--primary-accent-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
} */
/* ==========================AUTHORIZATION-DESKTOP========================== */

/* .site-auth .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--transition-dur-and-func);
}

.site-auth .link:hover,
.site-auth .link:focus {
  color: var(--primary-accent-color);
}

.site-auth {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-item:not(:last-child) {
  margin-right: 40px;
} */

/* ==========================HERO========================== */

/* .hero {
  max-width: 1440px;
  padding-top: 192px;
  padding-bottom: 192px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-color: var(--headings-color);
  background-size: cover;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-white);

  margin-bottom: 48px;
}

.hero-btn {
  display: block;
  background-color: var(--primary-accent-color);
  color: var(--main-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;

  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;

  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow var(--transition-dur-and-func);
}

.hero-btn:active {
  background-color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */
/* ==========================HERO-MOBILE========================== */

.hero {
  width: 100%;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-bg-mobile@1x.jpg);
  background-color: var(--headings-color);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/img-bg-mobile@2x.jpg");
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-white);
  margin-bottom: 72px;
}

.hero-btn {
  display: block;
  background-color: var(--primary-accent-color);
  color: var(--main-white);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;

  border-radius: 4px;
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow var(--transition-dur-and-func);
}

.hero-btn:active {
  background-color: #404bbf;
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ==========================QUALITIES========================== */

/* .qualities-subtitle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}

.qualities-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.qualities-list .quality-item {
  flex-basis: calc((100% - 72px) / 4);
}

.qualities-subtitle {
  margin-bottom: 8px;
}

.qualities-pics {
  display: flex;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
} */
/* ==========================QUALITIES-MOBILE========================== */

.qualities .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.qualities-subtitle {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 8px;
}

.qualities-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.quality-item:not(:last-child) {
  margin-bottom: 72px;
}
/* ==========================WORKS========================== */

/* .works {
  padding-top: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.works-list .works-item {
  flex-basis: calc((100% - 48px) / 3);
}

.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);

  margin-bottom: 72px;
} */
/* ==========================WORKS/QUALITIES-MOBILE/TABLET========================== */

@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }

  .qualities-pics {
    display: none;
  }
}
/* ==========================TEAM========================== */

/* .team {
  background-color: var(--light-background);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);

  margin-bottom: 72px;
}

.team-member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);

  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-list .team-card {
  flex-basis: calc((100% - 72px) / 4);
}

.team-content-wrapper {
  background-color: var(--main-white);
  padding: 32px 16px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);

  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--active-elements-color);
} */
/* ==========================TEAM-MOBILE========================== */

.team .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.team {
  background-color: var(--light-background);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);

  margin-bottom: 72px;
}

.team-member-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);

  margin-bottom: 8px;
}

.team-member-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.team-content-wrapper {
  background-color: var(--main-white);
  padding: 32px 16px;
  text-align: center;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-accent-color);

  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--active-elements-color);
}

.team-card:not(:last-child) {
  margin-bottom: 72px;
}
/* ==========================CUSTOMERS========================== */

/* .customers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);

  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customer-list-item {
  width: 168px;
  height: 88px;
  margin: 0 auto 72px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border var(--transition-dur-and-func);
}

.customer-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.customer-icon {
  fill: #8e8f99;
  transition: fill var(--transition-dur-and-func);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--primary-accent-color);
}

.customer-list-item:hover,
.customer-list-item:focus {
  border: 1px solid var(--primary-accent-color);
} */
/* ==========================CUSTOMERS-MOBILE========================== */

.customers .container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headings-color);

  margin-bottom: 72px;
}

.customer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.customer-list-item {
  width: 190px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border var(--transition-dur-and-func);
}

.customer-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.customer-icon {
  fill: #8e8f99;
  transition: fill var(--transition-dur-and-func);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--primary-accent-color);
}

.customer-list-item:hover,
.customer-list-item:focus {
  border: 1px solid var(--primary-accent-color);
}

.customer-list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 56px;
}

@media screen and (max-width: 480px) {
  .customer-list-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
/* ==========================LOGO-FOOTER========================== */

/* .logo-footer {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.web-foot {
  color: var(--primary-accent-color);
}

.studio-foot {
  color: var(--light-background);
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--headings-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
  margin-right: 120px;
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-social-icon {
  fill: var(--light-background);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white);
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-dur-and-func);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--secondary-accent-color);
}

.content-part-three {
  margin-left: 80px;
}

.footer-form {
  display: flex;
}

.footer-call-action {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white);
  margin-bottom: 16px;
}

.send-email {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--headings-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-white);
}

.send-email:focus {
  outline: none;
}
.footer-form-field {
  margin-right: 24px;
}

.send-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-white);
  background: var(--primary-accent-color);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color var(--transition-dur-and-func);
}

.footer-submit-btn:active {
  background-color: var(--active-elements-color);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-btn-icon {
  margin-left: 16px;
} */
/* ==========================LOGO-FOOTER-MOBILE========================== */

.footer .container {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--headings-color);
}

.logo-footer {
  font-family: var(--logo-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
}

.web-foot {
  color: var(--primary-accent-color);
}

.studio-foot {
  color: var(--light-background);
}

.content-part-one {
  text-align: center;
  margin-bottom: 72px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}

.content-part-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 72px;
}

.social-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-dur-and-func);
}

.footer-social-link:hover {
  background-color: var(--secondary-accent-color);
}

.content-part-three {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-call-action {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-white);
  margin-bottom: 16px;
}

.send-email {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  background-color: var(--headings-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-white);
}

.send-email:focus {
  outline: none;
}

.send-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-white);
  background: var(--primary-accent-color);
  border-radius: 4px;
  border-color: transparent;

  transition: background-color var(--transition-dur-and-func);
}

.footer-submit-btn:active {
  background-color: var(--active-elements-color);
}

.footer-submit-btn:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-btn-icon {
  margin-left: 16px;
}
/* ==========================PORTFOLIO-HEADER========================== */

.portfolio-header {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-nav-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
  transform: scaleX(1);
  transition: transform var(--transition-dur-and-func);
}

/* ==========================PORTFOLIO-BTNS========================== */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-btn {
  font-family: inherit;
  background-color: var(--light-background);
  color: var(--primary-accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border-width: 0;

  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--primary-accent-color);
  color: var(--main-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:active {
  background-color: var(--active-elements-color);
  color: var(--main-white);
}

/* ==========================PORTFOLIO-PROJECTS========================== */

.project-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  flex-basis: calc((100% - 48px) / 3);
}

.project-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

.project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.project-link {
  display: block;
}
.project-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  background-color: var(--primary-accent-color);
  color: var(--light-background);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: transform var(--transition-dur-and-func);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translate(0, 0);
}

.project-content-wrapper {
  background-color: #ffffff;
  padding: 32px 16px;
  border: 0.5px solid #f4f4fd;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-list .project-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headings-color);
  margin-bottom: 8px;
}

.project-list .project-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
/* ==========================BACKDROP+MODAL========================== */

.backdrop {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 408px;
  background-color: #fcfcfc;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: box-shadow var(--transition-dur-and-func),
    border var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func),
    fill var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-elements-color);
  fill: var(--main-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: transparent;
}

/* ==========================MODAL-INPUTS========================== */

.call-action {
  width: 100%;
  margin-top: 0;
  margin-bottom: 14px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--headings-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.modal-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  transition: fill var(--transition-dur-and-func);
}

.form-input:focus + .modal-input-icon {
  fill: var(--primary-accent-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #000000;

  transition: border-color var(--transition-dur-and-func);
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.modal-input-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.comment-area {
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #000000;

  transition: border-color var(--transition-dur-and-func);
}

.comment-area:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.comment-area::placeholder {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #757575;
}

.checkbox-link {
  color: var(--primary-accent-color);
}

.modal-checkbox::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;

  transition: background-color var(--transition-dur-and-func),
    background-image var(--transition-dur-and-func);
}

.checkbox-input:checked + .modal-checkbox::before {
  background-color: var(--active-elements-color);
  border: transparent;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox-input:focus + .modal-checkbox::before {
  border-color: var(--primary-accent-color);
}

.modal-submit-btn {
  width: 169px;
  height: 56px;
  align-self: center;
  justify-content: center;
  background: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;

  transition: background-color var(--transition-dur-and-func);
}

.modal-submit-btn:active {
  background-color: var(--active-elements-color);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
